h1 Login
div
    form(name="form", method="post", action="/login", novalidate)
        div.form-group
          label.control-label(for="username") Username
          input.form-control(type="text", name="username", id="username", placeholder="Username", unique-username, required, ng-model="username", autofocus)
          i.halflings-icon.refresh.rotating(ng-show="busy")
          span.help-block(ng-show="form.username.$dirty && form.username.$error.required") Please choose a username
          span.help-block(ng-show="form.username.$dirty && form.username.$error.isTaken") Username already taken
          span.help-block(ng-show="form.username.$dirty && form.username.$error.invalidChars") Username may not contain any non-url-safe characters
        div.form-group
          label.control-label(for="password") Password
          input.form-control(type="password", name="password", id="password", ng-model="password", required, match="verification")
          span.help-block(ng-show="form.password.$dirty && form.password.$error.required") Please enter a password
        if error
          div.alert #{error}
        input.btn.btn-primary(ng-click='vm.login()', value="Login", ng-disabled="form.$invalid")

a(ui-sref="home") Home